## Project 3

Your task is to create a pandas DataFrame that displays:

Customers:
- Last Name
- First Name

Purchased:
- Track names
- Album Titles

The information should be sorted by Customer LastName then Customer FirstName

In [1]:
import pandas as pd
from sqlalchemy import create_engine

sql = '''SELECT
        c.LastName, c.FirstName, t.Name, a.Title
        FROM Customer as c
        JOIN Invoice as i
        ON c.CustomerId = i.CustomerId
        JOIN InvoiceLine as il
        ON i.InvoiceId = il.InvoiceId
        JOIN Track as t
        ON il.TrackId = t.TrackId
        JOIN Album as a
        ON t.AlbumID = a.AlbumId
        ORDER BY c.LastName, c.FirstName'''

db = create_engine('mysql+mysqlconnector://root:guitar@localhost:3306/Chinook')
pd.read_sql(sql, db).head(5)

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas