1. Create a .CSV file (or optionally, a MySQL database!) that includes all of the information below. You may change the structure of the information as you like.

2. Read the information from your .CSV file into pandas...

###First, import the csv file

In [129]:
import numpy as np
import pandas as pd

data = pd.read_csv("Project1.csv")
data.head()

   Airline   Status  Los Angeles  Phoenix  San Diego  San Francisco  Seattle
0   Alaska  on time          497      221        212            503     1841
1   Alaska  delayed           62       12         20            102      305
2  AM West  on time          694     4840        383            320      201
3  AM West  delayed          117      415         65            129       61

... and perform analysis to compare the arrival delays for the two airlines.

###First, make it a multi index.
Then add a column with the sum of rows

In [130]:
x = data.set_index(['Airline', 'Status'])
x['Total'] = x.sum(axis=1)

print(x)

                 Los Angeles  Phoenix  San Diego  San Francisco  Seattle  \
Airline Status
Alaska  on time          497      221        212            503     1841
        delayed           62       12         20            102      305
AM West on time          694     4840        383            320      201
        delayed          117      415         65            129       61

                 Total
Airline Status
Alaska  on time   3274
        delayed    501
AM West on time   6438
        delayed    787

###Delay percentages by city and airline

1. Sum the delayed and on time flights by airline, and the new total column
2. Get just the delayed numbers
3. calculate percentages

In [203]:
ak_tot = x.xs('Alaska').xs('delayed') + x.xs('Alaska').xs('on time')
am_tot = x.xs('AM West').xs('delayed') + x.xs('AM West').xs('on time')

ak_totdelay = x.xs('Alaska').xs('delayed')
ak_delay = (ak_totdelay/ak_tot*100).round(2)

am_totdelay = x.xs('AM West').xs('delayed')
am_delay = (am_totdelay/am_tot*100).round(2)



print('Percent of delayed flights by city \n Alaska\n'
      ,ak_delay[0:-1], '\n ----------- \n AM West\n'
      ,am_delay[0:-1], '\n ----------- \n'
      ,'Percent of all Alaska flights delayed: ',ak_delay[-1],'%\n'
      ,'Percent of all AM West flights delayed: ',am_delay[-1],'%'
     )

Percent of delayed flights by city
 Alaska
 Los Angeles      11.09
Phoenix           5.15
San Diego         8.62
San Francisco    16.86
Seattle          14.21
dtype: float64
 -----------
 AM West
 Los Angeles      14.43
Phoenix           7.90
San Diego        14.51
San Francisco    28.73
Seattle          23.28
dtype: float64
 -----------
 Percent of all Alaska flights delayed:  13.27 %
 Percent of all AM West flights delayed:  10.89 %

###Some more descriptions

In [221]:
print('Alaska Description \n',ak_tot[:-1].describe().round())
print('AM West Decription \n',am_tot[:-1].describe().round())
print(x.xs('Alaska')[[0,1,2,3,4]].describe().round(2))
print(x.xs('AM West')[[0,1,2,3,4]].describe().round(2))

Alaska Description
 count       5.0
mean      755.0
std       797.0
min       232.0
25%       233.0
50%       559.0
75%       605.0
max      2146.0
dtype: float64
AM West Decription
 count       5.0
mean     1445.0
std      2139.0
min       262.0
25%       448.0
50%       449.0
75%       811.0
max      5255.0
dtype: float64
       Los Angeles  Phoenix  San Diego  San Francisco  Seattle
count         2.00     2.00       2.00           2.00     2.00
mean        279.50   116.50     116.00         302.50  1073.00
std         307.59   147.79     135.76         283.55  1086.12
min          62.00    12.00      20.00         102.00   305.00
25%         170.75    64.25      68.00         202.25   689.00
50%         279.50   116.50     116.00         302.50  1073.00
75%         388.25   168.75     164.00         402.75  1457.00
max         497.00   221.00     212.00         503.00  1841.00
       Los Angeles  Phoenix  San Diego  San Francisco  Seattle
count         2.00     2.00       2.00           2.00     2.00
mean        405.50  2627.50     224.00         224.50   131.00
std         408.00  3128.95     224.86         135.06    98.99
min         117.00   415.00      65.00         129.00    61.00
25%         261.25  1521.25     144.50         176.75    96.00
50%         405.50  2627.50     224.00         224.50   131.00
75%         549.75  3733.75     303.50         272.25   166.00
max         694.00  4840.00     383.00         320.00   201.00