## Instructions 
1. Load the ratings by user information that you collected into a pandas dataframe.
2. Show the average ratings for each user and each movie.
3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average ratings for each user and each movie.
4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.
5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

### Step 1: load the csv into a dataframe

In [3]:
import pandas as pd
import numpy as np

#df = pd.read_csv('/Users/Maureen/Desktop/GitHub/IS362/Week7_movies.csv')
df = pd.read_csv('https://raw.githubusercontent.com/moshun8/IS362/master/Week7_movies.csv')
df.head()

,Person,La La Land,The Revenant,Hoosiers,Shawshank Redemption,Nightcrawler,Logan
0,Erwin,NaN,4.0,2,4.0,5.0,NaN
1,Debbie,4.0,NaN,5,5.0,4.0,NaN
2,Mike,NaN,4.0,5,5.0,3.0,NaN
3,Joe,3.0,5.0,4,5.0,NaN,3.0
4,Chris,NaN,4.0,3,NaN,3.0,5.0

### Step 2: show average ratings for each user and movie
I made sure to skip NaNs and columns with strings in the calculation and rounded the decimal

In [4]:
df = df.set_index('Person')
useravg = df.mean(axis=1).round(decimals=2)

movieavg = df.mean().round(decimals=2)
print(useravg,'\n',movieavg)

Person
Erwin     3.75
Debbie    4.50
Mike      4.25
Joe       4.00
Chris     3.75
dtype: float64
 La La Land              3.50
The Revenant            4.25
Hoosiers                3.80
Shawshank Redemption    4.75
Nightcrawler            3.75
Logan                   4.00
dtype: float64

### Step 3: Create a new pandas dataframe, with normalized ratings for each user.

In [5]:
dfnormal = (df - df.mean()) / (df.std())
dfnormal

,La La Land,The Revenant,Hoosiers,Shawshank Redemption,Nightcrawler,Logan
Person,,,,,,
Erwin,NaN,-0.5,-1.380537,-1.5,1.305582,NaN
Debbie,0.707107,NaN,0.920358,0.5,0.261116,NaN
Mike,NaN,-0.5,0.920358,0.5,-0.783349,NaN
Joe,-0.707107,1.5,0.153393,0.5,NaN,-0.707107
Chris,NaN,-0.5,-0.613572,NaN,-0.783349,0.707107

### Again, show the average ratings for each user and each movie.

In [6]:
useravg_norm = dfnormal.mean(axis=1).round(decimals=2)

movieavg_norm = dfnormal.mean().round(decimals=2)
print(useravg_norm,'\n',movieavg_norm)

Person
Erwin    -0.52
Debbie    0.60
Mike      0.03
Joe       0.15
Chris    -0.30
dtype: float64
 La La Land              0.0
The Revenant            0.0
Hoosiers                0.0
Shawshank Redemption    0.0
Nightcrawler           -0.0
Logan                   0.0
dtype: float64

### 4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

## Conclusions: