## Instructions 
1. Load the ratings by user information that you collected into a pandas dataframe.
2. Show the average ratings for each user and each movie.
3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average ratings for each user and each movie.
4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.
5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

### Step 1: load the csv into a dataframe

In [39]:
import pandas as pd

#df = pd.read_csv('/Users/Maureen/Desktop/GitHub/IS362/Week7_movies.csv')
df = pd.read_csv('https://raw.githubusercontent.com/moshun8/IS362/master/Week7_movies.csv')
df.head()

,Person,La La Land,The Revenant,Hoosiers,Shawshank Redemption,Nightcrawler,Logan
0,Erwin,NaN,4.0,2,4.0,5.0,NaN
1,Debbie,4.0,NaN,5,5.0,4.0,NaN
2,Mike,NaN,4.0,5,5.0,3.0,NaN
3,Joe,3.0,5.0,4,5.0,NaN,3.0
4,Chris,NaN,4.0,3,NaN,3.0,5.0

### Step 2: show average ratings for each user and movie

In [40]:
df = df.set_index('Person')
useravg = df.mean(axis=1).round(decimals=2)

movieavg = df.mean().round(decimals=2)
print(useravg,'\n',movieavg)

Person
Erwin     3.75
Debbie    4.50
Mike      4.25
Joe       4.00
Chris     3.75
dtype: float64
 La La Land              3.50
The Revenant            4.25
Hoosiers                3.80
Shawshank Redemption    4.75
Nightcrawler            3.75
Logan                   4.00
dtype: float64

### Step 3: Create a new pandas dataframe, with normalized ratings for each user. 
To normalize ratings by user, not movie, the dataframe needs to be transposed

In [45]:
df_tp = df.T
dfnormal = (df_tp - df_tp.min()) / (df_tp.max() - df_tp.min())
dfnormal

Person                   Erwin  Debbie  Mike  Joe  Chris
La La Land                 NaN     0.0   NaN  0.0    NaN
The Revenant          0.666667     NaN   0.5  1.0    0.5
Hoosiers              0.000000     1.0   1.0  0.5    0.0
Shawshank Redemption  0.666667     1.0   1.0  1.0    NaN
Nightcrawler          1.000000     0.0   0.0  NaN    0.0
Logan                      NaN     NaN   NaN  0.0    1.0

### Again, show the average ratings for each user and each movie.

In [46]:
movie_norm = dfnormal.mean(axis=1).round(decimals=5)
user_norm = dfnormal.mean().round(decimals=5)

print(user_norm,'\n',movie_norm)

Person
Erwin     0.58333
Debbie    0.50000
Mike      0.62500
Joe       0.50000
Chris     0.37500
dtype: float64
 La La Land              0.00000
The Revenant            0.66667
Hoosiers                0.50000
Shawshank Redemption    0.91667
Nightcrawler            0.25000
Logan                   0.50000
dtype: float64

### If you wanted to normalize user ratings within each movie, you would not transpose the dataframe and just run the formula

In [48]:
df_byMovie = (df - df.min()) / (df.max() - df.min())
df_byMovie

,La La Land,The Revenant,Hoosiers,Shawshank Redemption,Nightcrawler,Logan
Person,,,,,,
Erwin,NaN,0.0,0.000000,0.0,1.0,NaN
Debbie,1.0,NaN,1.000000,1.0,0.5,NaN
Mike,NaN,0.0,1.000000,1.0,0.0,NaN
Joe,0.0,1.0,0.666667,1.0,NaN,0.0
Chris,NaN,0.0,0.333333,NaN,0.0,1.0

### The average ratings for users/movies when calculated within each movie

In [54]:
useravg_byMovie = df_byMovie.mean(axis=1).round(decimals=5)

movieavg_byMovie = df_byMovie.mean().round(decimals=5)
print(useravg_byMovie,'\n',movieavg_byMovie)

Person
Erwin     0.25000
Debbie    0.87500
Mike      0.50000
Joe       0.53333
Chris     0.33333
dtype: float64
 La La Land              0.500
The Revenant            0.250
Hoosiers                0.600
Shawshank Redemption    0.750
Nightcrawler            0.375
Logan                   0.500
dtype: float64

### 4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

An advantage of normalizing ratings by user is that if a person always gives very high or low ratings for everything, then their scores won't mean much. Normalizing them would give more weight to smaller scoring differences. A disadvantage of normalizing can be seen with the rating for movies like La La Land. When ratings are normalized for each user then the overall ratings for movies may not mean much (like La La Land's normalized rating = 0, even though the raw scores were 3 and 4).

### 5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

In [51]:
dfstd = (df_tp - df_tp.mean()) / (df_tp.std())
dfstd

Person                   Erwin    Debbie      Mike  Joe     Chris
La La Land                 NaN -0.866025       NaN -1.0       NaN
The Revenant          0.198680       NaN -0.261116  1.0  0.261116
Hoosiers             -1.390759  0.866025  0.783349  0.0 -0.783349
Shawshank Redemption  0.198680  0.866025  0.783349  1.0       NaN
Nightcrawler          0.993399 -0.866025 -1.305582  NaN -0.783349
Logan                      NaN       NaN       NaN -1.0  1.305582

In [53]:
movieavg_std = dfstd.mean(axis=1).round(decimals=5)

useravg_std = dfstd.mean().round(decimals=5)
print(useravg_std,'\n',movieavg_std)

Person
Erwin     0.0
Debbie    0.0
Mike      0.0
Joe       0.0
Chris    -0.0
dtype: float64
 La La Land             -0.93301
The Revenant            0.29967
Hoosiers               -0.10495
Shawshank Redemption    0.71201
Nightcrawler           -0.49039
Logan                   0.15279
dtype: float64